In [2]:
import pandas as pd
import numpy as np
from tqdm.notebook import tqdm
import glob

In [3]:
files = glob.glob('./unknown_address_types*')

In [4]:
files

['./unknown_address_types-t1.csv',
 './unknown_address_types-t2.csv',
 './unknown_address_types-t3.csv',
 './unknown_address_types-t4.csv']

In [5]:
df = pd.DataFrame()
for t in tqdm(files):
    tmp = pd.read_csv(t)
    df = pd.concat([df,tmp],ignore_index=True)

  0%|          | 0/4 [00:00<?, ?it/s]

In [7]:
df= df.drop_duplicates()

In [8]:
df.head()

                       Destination_Address
0   2a05:e747:5fd0:b177:4c4:8453:6725:a2a3
1                             2a05:e747::1
2                              2a05:e747::
3                             2a05:e747::2
4  2a05:e747:6fe0:d82c:2758:de22:8f01:3601

In [9]:
len(df)

39949599

In [12]:
addr_map01 = pd.read_csv('./addr_type_map',sep='|')

In [13]:
addr_map01

                                          ip_addr       addr_type
0                                    2a05:e747::1        low-byte
1                                     2a05:e747::  full_zero_addr
2                                    2a05:e747::2        low-byte
3          2a05:e747:8f87:f66:37e6:c1f0:f398:2f47      randomized
4         2a05:e747:730d:97af:de8d:6eb1:a15c:6d3e      randomized
...                                           ...             ...
17882239  2a05:e747:ff39:fcbf:638c:5511:e972:6156      randomized
17882240  2a05:e747:71a1:3bd2:f463:777f:9691:1764      randomized
17882241  2a05:e747:fa43:a21f:ad77:7205:1da3:271d      randomized
17882242  2a05:e747:68e7:2d80:616b:fa55:9ff2:881f      randomized
17882243   2a05:e747:315f:b1f:eee4:b937:6edc:1b56      randomized

[17882244 rows x 2 columns]

In [17]:
df[~df.Destination_Address.isin(addr_map01.ip_addr)].to_csv('remaining_unknown_addr_all_telescopes',header=False,index=False)